<div class="bg"></div>
<div class="fail result-container">
  <div class="ui middle aligned center aligned grid container">
    <div class="row">
      <div class="column">
        <img
          style="margin-top: 2rem;"
          class="ui small centered failed image"
          src="/assets/img/face.svg"
        />
        <h1 class="ui inverted header">
          ขอโทษด้วย! แต่ว่าน้อง<%= user.th_first_name %> <%= user.th_last_name
          %> ยังมีคุณสมบัติไม่ตรงตามข้อกำหนดของแก๊งเรา
          <p style="font-size: 2rem; margin-top: 1rem;">
            พัฒนาฝีมือแล้วมาสมัครใหม่ปีหน้านะ ^_^
          </p>
        </h1>
      </div>
    </div>
  </div>
</div>
