<div class="bg"></div>
<div class="sub result-container">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1 class="ui sub header">
        ขอแสดงความยินดีกับน้อง<%= user.th_first_name %> <%= user.th_last_name
        %>!
        <p style="font-size: 2rem; margin-top: 1rem;">
          น้องติดตัวสำรอง รอการติดต่อกลับจากพี่ ๆ นะ :)
        </p>
      </h1>
    </div>
  </div>
</div>
