<%- include('includes/header') %>

<link rel="stylesheet" href="/assets/css/styles-login.css">
</head>

<body>
    <div class="bg"></div>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h1 class="ui complete header" style="color: white; font-size: 3rem;">ยืนยันสิทธิ์เรียบร้อย แล้วเจอกันวันค่ายนะ! :)</h1>
        </div>
    </div>
</body>

</html>