<!DOCTYPE html>
<html>

<head>
    {{> analytics }}
    {{> meta_data }}
    {{> icon }}

    <!-- Site Properties -->
    <title>Junior Programmers Camp XV</title>
    {{> include_libraries }}
</head>

<body>
    <h1>Oops! Something NOT wrong, but we just go to find another hideout.</h1>
    <p>(Maintenance mode: we are working to improve our website.)</p>
    <p>Thank you for you patience.</p>
    <p>JpC#_15_lnw_GAngZa_007</p>
</body>

</html>