<div class="ui inverted vertical center aligned segment register-sticky" style="padding-top: 0;">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu sticky">
            <a style="padding: 0" class="item register-inline-block" href="/"><img class="ui tiny image" src="/assets/img/jpc-logo.png"
                    alt="JPC Logo"></a>
            <div class="right item">
                <div class="ui inverted">
                    <form class="ui large form" action="/api/auth/facebook/logout" method="POST">
                        <button style="position: relative;top: -10px;" class="ui inverted negative submit button" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>