<div class="ui center aligned segment ">
    <i class="fas fa-check-circle"></i>
    <h1 class="font-FCActive">ลงทะเบียนสำเร็จ</h1>
    <h2 class="font-FCActive">ติดตามการประกาศผลได้ทางเว็บไซต์ และแฟนเพจ <a
            href="https://www.facebook.com/jpckmutt/">Junior Programmers Camp XV</a></h2>
    <br>
    <i class="fas fa-desktop bounce ml-1"> </i>
    <i class="fas fa-school bounce1 ml-1"> </i>
    <i class="fas fa-suitcase-rolling bounce ml-1"> </i>
    <div class="mt-2"><a href="/">กลับไปหน้าแรก</a></div>
</div>