body {
	background-color: #232325;
}
body > .grid {
	height: 100%;
}
.ui.grid {
	margin: 0;
}
.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(/assets/img/login-bg.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(30%);
}
.complete.header {
	color: white !important;
	font-family: Sarabun, sans-serif !important;
	font-size: 5em !important;
}