<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted equal width height stackable grid container">
            <div class="row">
                <div class="column middle aligned">
                    <img class="ui large image centered" src="/assets/img/kmutt-sit-logo.png">
                </div>
                <div class="column middle aligned">
                    <h3 class="ui inverted header">คณะเทคโนโลยีสารสนเทศ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</h3>
                    <p>126 ถนนประชาอุทิศ แขวงบางมด เขตทุ่งครุ กรุงเทพฯ 10140</p>
                    <div class="ui medium inverted header">ติดต่อสอบถาม/แจ้งปัญหา</div>
                    <div class="ui sixteen column row stackable grid">
                        <div class="ten wide column">
                            <p>Facebook: <a href="https://www.facebook.com/jpckmutt/">Junior Programmers Camp XV</a></p>
                        </div>
                        <div class="six wide column">
                            <p>โทรศัพท์: พี่ภู 093-138-3100</p>
                        </div>
                    </div>
                    <h3 class="ui inverted header">Line@</h3>
                    <div class="ui equal width stackable column grid container" id="line-link">
                        <div class="column middle aligned"> <img class="ui small image"
                                src="http://qr-official.line.me/L/QbyPdaYmpp.png"></div>
                        <div class="column middle aligned">
                            <a href="https://line.me/R/ti/p/%40nem1343g"><img height="36" border="0" alt="เพิ่มเพื่อน"
                                    src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"
                                    class="ui image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>