<div class="ui container" id="main-navbar">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="item" href="#what-section">What</a>
    <a class="item" href="#location-section">Where</a>
    <a class="item" href="#when-section">When</a>
    <a class="item" href="#faq-section">FAQ</a>
    <a class="item" href="#sponsor-section">Sponsor</a>
    <div class="right item">
      <% if (new Date() > new Date(2019, 5, 23, 18) && new Date() < new
      Date(2019, 5, 28, 10) || process.env.NODE_ENV === 'development') { %>
      <a class="ui inverted result button" href="/result">
        ตรวจสอบผลการคัดเลือก
      </a>
      <% } %>
    </div>
  </div>
</div>
